In [1]:
import pandas as pd
import numpy as np

In [2]:
dates = pd.date_range("20130101", periods=6)

In [3]:
type(dates)

pandas.tseries.index.DatetimeIndex

In [4]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6, 4), index = dates, columns = list("ABCD"))

In [7]:
df

                   A         B         C         D
2013-01-01  0.771953 -0.508510 -0.696784  0.768316
2013-01-02  0.751638  0.086814 -0.619620 -1.747549
2013-01-03  1.380955 -1.421816 -0.156459  1.242679
2013-01-04  1.106720  0.188604  0.398836 -0.333093
2013-01-05  0.650624 -0.266122  0.892448 -0.168168
2013-01-06  0.246618 -0.548842 -1.370640 -0.401867

In [8]:
df2 = pd.DataFrame({ 'A' : 1.,
   ....:                      'B' : pd.Timestamp('20130102'),
   ....:                      'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
   ....:                      'D' : np.array([3] * 4,dtype='int32'),
   ....:                      'E' : pd.Categorical(["test","train","test","train"]),
   ....:                      'F' : 'foo' })

In [9]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [10]:
dates[0]

Timestamp('2013-01-01 00:00:00', offset='D')

In [12]:
df.loc['2013-01-01']

A    0.771953
B   -0.508510
C   -0.696784
D    0.768316
Name: 2013-01-01 00:00:00, dtype: float64

In [13]:
df.iloc[0:2, :]

                   A         B         C         D
2013-01-01  0.771953 -0.508510 -0.696784  0.768316
2013-01-02  0.751638  0.086814 -0.619620 -1.747549

In [14]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.818085 -0.411645 -0.258703 -0.106613
std    0.390203  0.579411  0.815664  1.041251
min    0.246618 -1.421816 -1.370640 -1.747549
25%    0.675877 -0.538759 -0.677493 -0.384673
50%    0.761795 -0.387316 -0.388040 -0.250630
75%    1.023028 -0.001420  0.260012  0.534195
max    1.380955  0.188604  0.892448  1.242679

In [15]:
df.mean()

A    0.818085
B   -0.411645
C   -0.258703
D   -0.106613
dtype: float64

In [16]:
df.mean(axis=1)

2013-01-01    0.083744
2013-01-02   -0.382179
2013-01-03    0.261340
2013-01-04    0.340267
2013-01-05    0.277195
2013-01-06   -0.518683
Freq: D, dtype: float64

In [17]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [18]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [19]:
df.values

array([[ 0.77195251, -0.50850962, -0.6967839 ,  0.76831618],
       [ 0.75163816,  0.08681378, -0.6196201 , -1.74754905],
       [ 1.3809547 , -1.42181605, -0.15645922,  1.24267945],
       [ 1.10672023,  0.18860353,  0.39883635, -0.33309257],
       [ 0.65062368, -0.26612154,  0.89244806, -0.16816833],
       [ 0.24661819, -0.54884247, -1.37064029, -0.40186653]])

In [20]:
df['E'] = np.array([5]*len(df))

In [21]:
df

                   A         B         C         D  E
2013-01-01  0.771953 -0.508510 -0.696784  0.768316  5
2013-01-02  0.751638  0.086814 -0.619620 -1.747549  5
2013-01-03  1.380955 -1.421816 -0.156459  1.242679  5
2013-01-04  1.106720  0.188604  0.398836 -0.333093  5
2013-01-05  0.650624 -0.266122  0.892448 -0.168168  5
2013-01-06  0.246618 -0.548842 -1.370640 -0.401867  5

In [22]:
s = pd.Series([1, 2, np.nan, np.nan, 5, 6], index = dates)

In [23]:
s

2013-01-01    1.0
2013-01-02    2.0
2013-01-03    NaN
2013-01-04    NaN
2013-01-05    5.0
2013-01-06    6.0
Freq: D, dtype: float64

In [24]:
s.shift(2)

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    2.0
2013-01-05    NaN
2013-01-06    NaN
Freq: D, dtype: float64

In [25]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [26]:
df

                   A         B         C         D  E
2013-01-01  0.771953 -0.508510 -0.696784  0.768316  5
2013-01-02  0.751638  0.086814 -0.619620 -1.747549  5
2013-01-03  1.380955 -1.421816 -0.156459  1.242679  5
2013-01-04  1.106720  0.188604  0.398836 -0.333093  5
2013-01-05  0.650624 -0.266122  0.892448 -0.168168  5
2013-01-06  0.246618 -0.548842 -1.370640 -0.401867  5

In [27]:
df

                   A         B         C         D  E
2013-01-01  0.771953 -0.508510 -0.696784  0.768316  5
2013-01-02  0.751638  0.086814 -0.619620 -1.747549  5
2013-01-03  1.380955 -1.421816 -0.156459  1.242679  5
2013-01-04  1.106720  0.188604  0.398836 -0.333093  5
2013-01-05  0.650624 -0.266122  0.892448 -0.168168  5
2013-01-06  0.246618 -0.548842 -1.370640 -0.401867  5

In [28]:
df.apply(np.cumsum)

                   A         B         C         D   E
2013-01-01  0.771953 -0.508510 -0.696784  0.768316   5
2013-01-02  1.523591 -0.421696 -1.316404 -0.979233  10
2013-01-03  2.904545 -1.843512 -1.472863  0.263447  15
2013-01-04  4.011266 -1.654908 -1.074027 -0.069646  20
2013-01-05  4.661889 -1.921030 -0.181579 -0.237814  25
2013-01-06  4.908507 -2.469872 -1.552219 -0.639681  30

In [30]:
df.apply(lambda x: x.max() - x.min())

A    1.134337
B    1.610420
C    2.263088
D    2.990229
E    0.000000
dtype: float64

In [31]:
s = pd.Series([1, 2, 3, 4])

In [32]:
s

0    1
1    2
2    3
3    4
dtype: int64

In [33]:
s.cumsum()

0     1
1     3
2     6
3    10
dtype: int64

In [37]:
df.apply(lambda x : x.max() - x.min())

A    1.134337
B    1.610420
C    2.263088
D    2.990229
E    0.000000
dtype: float64